<%= form_for([commentable, Comment.new]) do |c| %>
  <div class="editor clearfix">
    <%= c.text_area :body, placeholder: "Comment on this...", :class => "form-control form-control-textarea", rows: "4" %>
    <div class="options clearfix">
      <button class="button" type="submit"><span>Post</span></button>
    </div>
  </div>
<% end %>
