<div class="row">
  <div class="col-sm-5">
    <%= form_tag sponsors_path, id: "payment-form", class: "form-horizontal" do %>
      <span class="payment-errors"></span>

      <div class="fields">    
	<input type="hidden" name="cause_id" value="<%= @cause_id %>" >
	<input type="hidden" name="type" value="<%= @type %>" >
	<input type="text" data-stripe="number" class="form-control" placeholder="Card Number">    
	<input type="text" size="2" data-stripe="exp_month" class="form-control" placeholder="Expiration Month MM">
	<input type="text" size="2" data-stripe="exp_year" class="form-control" placeholder="Expiration Year YY">
	<input type="text" size="4" data-stripe="cvc" class="form-control" placeholder="CVC">
      </div>
      <div class="actions">
	<button class="btn btn-default btn-lg" type="submit">Submit Payment</button>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
